nifi/RTDM_0506.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description>RTDM modell, MySQL, Python learn, EMail</description>
    <groupId>90e748c3-015a-1000-f68d-292036f42e8f</groupId>
    <name>RTDM_0506</name>
    <snippet>
        <connections>
            <id>8e74ba8d-9b01-3f25-0000-000000000000</id>
            <parentGroupId>225026b9-7e78-35c2-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>225026b9-7e78-35c2-0000-000000000000</groupId>
                <id>aa63c30d-a357-3079-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <source>
                <groupId>44589baf-5dbf-3a22-0000-000000000000</groupId>
                <id>07d741a9-1c90-30a6-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>07fa5f8a-a55e-3532-0000-000000000000</id>
            <parentGroupId>225026b9-7e78-35c2-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>44589baf-5dbf-3a22-0000-000000000000</groupId>
                <id>1e8d2edb-3c09-3494-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <source>
                <groupId>bec02709-5176-3f57-0000-000000000000</groupId>
                <id>84388f55-e06b-30a5-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>242b6743-40b1-3b66-0000-000000000000</id>
            <parentGroupId>225026b9-7e78-35c2-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>64267d6b-82bf-3091-0000-000000000000</groupId>
                <id>67602c66-a4b4-3463-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <source>
                <groupId>bec02709-5176-3f57-0000-000000000000</groupId>
                <id>35c17e9f-9e74-341f-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>253ada70-a790-3295-0000-000000000000</id>
            <parentGroupId>225026b9-7e78-35c2-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>64267d6b-82bf-3091-0000-000000000000</groupId>
                <id>67602c66-a4b4-3463-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <source>
                <groupId>44589baf-5dbf-3a22-0000-000000000000</groupId>
                <id>7b9c94c7-5c03-3dd4-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>79e01313-c34b-39f9-0000-000000000000</id>
            <parentGroupId>225026b9-7e78-35c2-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                <id>67862ac9-0e26-3bbe-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <source>
                <groupId>bd56341e-a975-34e7-0000-000000000000</groupId>
                <id>ad1f48f6-c95e-3a4a-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7c28fa44-a734-3066-0000-000000000000</id>
            <parentGroupId>225026b9-7e78-35c2-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>bec02709-5176-3f57-0000-000000000000</groupId>
                <id>39680636-3cd3-3454-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <source>
                <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                <id>4aaa6455-5c4c-3ec6-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <labels>
            <id>befdb506-afaf-333c-0000-000000000000</id>
            <parentGroupId>225026b9-7e78-35c2-0000-000000000000</parentGroupId>
            <position>
                <x>95.77604828428252</x>
                <y>356.32948242780594</y>
            </position>
            <height>49.861114501953125</height>
            <label>Evalute Constant Business Rules</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#1010a8</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>18px</value>
                </entry>
            </style>
            <width>344.4659423828125</width>
        </labels>
        <labels>
            <id>e5943659-d835-34b6-0000-000000000000</id>
            <parentGroupId>225026b9-7e78-35c2-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>657.2006123785605</y>
            </position>
            <height>66.0</height>
            <label>Sends an Email 
recommendation</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#269e6e</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>18px</value>
                </entry>
            </style>
            <width>161.0</width>
        </labels>
        <labels>
            <id>eeca065f-c6a6-3b21-0000-000000000000</id>
            <parentGroupId>225026b9-7e78-35c2-0000-000000000000</parentGroupId>
            <position>
                <x>95.27560956513412</x>
                <y>0.0</y>
            </position>
            <height>92.07504272460938</height>
            <label>Generate Card Transaction data 
via Data Seed based on Card API</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#b830ad</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>18px</value>
                </entry>
            </style>
            <width>381.91741943359375</width>
        </labels>
        <labels>
            <id>334f184e-69cb-346a-0000-000000000000</id>
            <parentGroupId>225026b9-7e78-35c2-0000-000000000000</parentGroupId>
            <position>
                <x>730.9729647529336</x>
                <y>351.231743657632</y>
            </position>
            <height>50.74725341796875</height>
            <label>Evaluate a ML model and based on the
prediction sends a recommendation.</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#18b4c2</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>18px</value>
                </entry>
            </style>
            <width>396.62994384765625</width>
        </labels>
        <labels>
            <id>5de7b1ee-3dc9-33be-0000-000000000000</id>
            <parentGroupId>225026b9-7e78-35c2-0000-000000000000</parentGroupId>
            <position>
                <x>729.2419242112292</x>
                <y>3.1905880372473803</y>
            </position>
            <height>62.0</height>
            <label>Enrich Transactions 
Add Customer and Merchant Data from DB</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#6c1d7a</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>18px</value>
                </entry>
            </style>
            <width>367.00006103515625</width>
        </labels>
        <processGroups>
            <id>b258a6ff-5db7-3acf-0000-000000000000</id>
            <parentGroupId>225026b9-7e78-35c2-0000-000000000000</parentGroupId>
            <position>
                <x>724.3875947199986</x>
                <y>119.42333933292048</y>
            </position>
            <comments>Generate Data from test transaction set.
Process 12 records per 20 sec.</comments>
            <contents>
                <connections>
                    <id>931ccdc3-79cf-3753-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>e12bc17c-9385-38ff-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>0fbe5431-92b0-36d2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>97c04458-e644-3944-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>66352e05-662b-3b93-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>d2562fe5-d6d1-39f6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9e5cfe1c-d3d4-3fc4-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>d2562fe5-d6d1-39f6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>f4941c1d-b89e-38be-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bbdf0d0d-ca0c-33c8-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>1efa4941-f002-31a9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>62554694-a8fb-3d8e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d4171c77-2309-3eae-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1433.0751712913484</x>
                        <y>418.1245473168708</y>
                    </bends>
                    <bends>
                        <x>1433.0751712913484</x>
                        <y>468.1245473168708</y>
                    </bends>
                    <destination>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>e0ec4d89-1baa-38a4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>e0ec4d89-1baa-38a4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ddae4ee3-4e82-394b-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>f4941c1d-b89e-38be-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>e0ec4d89-1baa-38a4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>0636a7dd-cc75-36e7-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>1efa4941-f002-31a9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>66352e05-662b-3b93-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>094e9b50-c0d2-3264-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>4aaa6455-5c4c-3ec6-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>e12bc17c-9385-38ff-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1b35bfce-c29a-34b1-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>0fbe5431-92b0-36d2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>62554694-a8fb-3d8e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>585ac2ba-72c6-38ae-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>e0ec4d89-1baa-38a4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <source>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>67862ac9-0e26-3bbe-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5cb45ec2-c991-3967-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>62554694-a8fb-3d8e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>66352e05-662b-3b93-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6d5acab3-fb03-327c-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>1efa4941-f002-31a9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>b258a6ff-5db7-3acf-0000-000000000000</groupId>
                        <id>e12bc17c-9385-38ff-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>c256794c-966f-3eec-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-registry-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>avro-reg-validated-field-names</key>
                            <value>
<name>avro-reg-validated-field-names</name>
                            </value>
                        </entry>
                        <entry>
                            <key>transaction</key>
                            <value>
<name>transaction</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>AvroSchemaRegistry</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>avro-reg-validated-field-names</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>transaction</key>
                            <value>{
  "name": "transactionRecord",
  "type": "record",
  "fields": [
    { "name": "idx", "type": "long" },
    { "name": "accountNumber", "type": "string" },
    { "name": "accountType", "type": "string" },
    { "name": "merchantId", "type": "string" },
    { "name": "merchantType", "type": "string" },
    { "name": "transactionId", "type": "string" },
    { "name": "amount", "type": "string" },
    { "name": "currency", "type": "string" },
    { "name": "isCardPresent", "type": "string" },
    { "name": "transactionTimeStamp", "type": "string" }
  ]
}
</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
                </controllerServices>
                <controllerServices>
                    <id>ebe8513c-fbe4-3e9f-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>
<name>csv-reader-csv-parser</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>
<name>CSV Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>
<name>Value Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>
<name>Skip Header Line</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>
<name>ignore-csv-header</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>
<name>Quote Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>
<name>Escape Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                            <value>
<name>Comment Marker</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Null String</key>
                            <value>
<name>Null String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>
<name>Trim Fields</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>
<name>csvutils-character-set</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>CSVReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>schema-name</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>c256794c-966f-3eec-0000-000000000000</value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>commons-csv</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>custom</value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>;</value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>"</value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>\</value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                        </entry>
                        <entry>
                            <key>Null String</key>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>UTF-8</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.csv.CSVReader</type>
                </controllerServices>
                <controllerServices>
                    <id>0b771ecd-8ca2-3618-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-dbcp-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>
<name>Database Connection URL</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>
<name>Database Driver Class Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>
<name>database-driver-locations</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>
<name>Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>
<name>Max Total Connections</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>
<name>Validation-query</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>DBCPConnectionPool</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>jdbc:mysql://localhost:3306/rtdm</value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>com.mysql.jdbc.Driver</value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>file:///usr/share/java/mysql-connector-java.jar</value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>rtdm</value>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>500 millis</value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                </controllerServices>
                <controllerServices>
                    <id>393f686d-10fe-3bb8-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>
<name>Pretty Print JSON</name>
                            </value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>
<name>suppress-nulls</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>schema-name</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>schema-name</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>c256794c-966f-3eec-0000-000000000000</value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>never-suppress</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                </controllerServices>
                <inputPorts>
                    <id>67862ac9-0e26-3bbe-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <position>
                        <x>1036.8431763273684</x>
                        <y>152.14056847669062</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>BankCardTransactions</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <outputPorts>
                    <id>4aaa6455-5c4c-3ec6-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <position>
                        <x>2776.9353648428378</x>
                        <y>625.5470746839023</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>TransactionAndCustomerData</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>d2562fe5-d6d1-39f6-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <position>
                        <x>1592.8720008758305</x>
                        <y>370.28998478743006</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>accountNumber</key>
<value>
    <name>accountNumber</name>
</value>
                            </entry>
                            <entry>
<key>accountType</key>
<value>
    <name>accountType</name>
</value>
                            </entry>
                            <entry>
<key>amount</key>
<value>
    <name>amount</name>
</value>
                            </entry>
                            <entry>
<key>merchantId</key>
<value>
    <name>merchantId</name>
</value>
                            </entry>
                            <entry>
<key>merchantType</key>
<value>
    <name>merchantType</name>
</value>
                            </entry>
                            <entry>
<key>transactionId</key>
<value>
    <name>transactionId</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>accountNumber</key>
<value>$.[0].accountNumber</value>
                            </entry>
                            <entry>
<key>accountType</key>
<value>$.[0].accountType</value>
                            </entry>
                            <entry>
<key>amount</key>
<value>$.[0].amount</value>
                            </entry>
                            <entry>
<key>merchantId</key>
<value>$.[0].merchantId</value>
                            </entry>
                            <entry>
<key>merchantType</key>
<value>$.[0].merchantType</value>
                            </entry>
                            <entry>
<key>transactionId</key>
<value>$.[0].transactionId</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Set Attribute for Transaction values</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>e0ec4d89-1baa-38a4-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <position>
                        <x>978.0751712913484</x>
                        <y>378.1245473168708</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>ebe8513c-fbe4-3e9f-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>393f686d-10fe-3bb8-0000-000000000000</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>ConvertRecord</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                </processors>
                <processors>
                    <id>e12bc17c-9385-38ff-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <position>
                        <x>2189.2171631265323</x>
                        <y>365.3413471615788</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Attributes List</key>
<value>
    <name>Attributes List</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
<value>
    <name>attributes-to-json-regex</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>
    <name>Include Core Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>
    <name>Null Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Attributes List</key>
<value>accountNumber,accountType,merchantId,merchantType,transactionId,amount,Account,Age,Gender,Name,Tel,name,lat,long,BalanceAmount,CrmSegment,ShortTermCredit,FamilyMembers,TransactionTrend,IncomeCategory,NrOfDebCards,NrOfCredCards,CreditScore,AvgMonthlySpending,CreditLimit,PreviousDaySpending</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>AttributesToJSON</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                </processors>
                <processors>
                    <id>f4941c1d-b89e-38be-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <position>
                        <x>1594.341686208138</x>
                        <y>124.70091432889853</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>filename</key>
<value>transactions-${uuid}.json</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Set JSON filename</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>0fbe5431-92b0-36d2-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <position>
                        <x>2193.4556285147128</x>
                        <y>125.16890085577734</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>Account</key>
<value>
    <name>Account</name>
</value>
                            </entry>
                            <entry>
<key>Age</key>
<value>
    <name>Age</name>
</value>
                            </entry>
                            <entry>
<key>AvgMonthlySpending</key>
<value>
    <name>AvgMonthlySpending</name>
</value>
                            </entry>
                            <entry>
<key>BalanceAmount</key>
<value>
    <name>BalanceAmount</name>
</value>
                            </entry>
                            <entry>
<key>CreditLimit</key>
<value>
    <name>CreditLimit</name>
</value>
                            </entry>
                            <entry>
<key>CreditScore</key>
<value>
    <name>CreditScore</name>
</value>
                            </entry>
                            <entry>
<key>CrmSegment</key>
<value>
    <name>CrmSegment</name>
</value>
                            </entry>
                            <entry>
<key>FamilyMembers</key>
<value>
    <name>FamilyMembers</name>
</value>
                            </entry>
                            <entry>
<key>Gender</key>
<value>
    <name>Gender</name>
</value>
                            </entry>
                            <entry>
<key>IncomeCategory</key>
<value>
    <name>IncomeCategory</name>
</value>
                            </entry>
                            <entry>
<key>lat</key>
<value>
    <name>lat</name>
</value>
                            </entry>
                            <entry>
<key>long</key>
<value>
    <name>long</name>
</value>
                            </entry>
                            <entry>
<key>name</key>
<value>
    <name>name</name>
</value>
                            </entry>
                            <entry>
<key>Name</key>
<value>
    <name>Name</name>
</value>
                            </entry>
                            <entry>
<key>NrOfCredCards</key>
<value>
    <name>NrOfCredCards</name>
</value>
                            </entry>
                            <entry>
<key>NrOfDebCards</key>
<value>
    <name>NrOfDebCards</name>
</value>
                            </entry>
                            <entry>
<key>PreviousDaySpending</key>
<value>
    <name>PreviousDaySpending</name>
</value>
                            </entry>
                            <entry>
<key>ShortTermCredit</key>
<value>
    <name>ShortTermCredit</name>
</value>
                            </entry>
                            <entry>
<key>Tel</key>
<value>
    <name>Tel</name>
</value>
                            </entry>
                            <entry>
<key>TransactionTrend</key>
<value>
    <name>TransactionTrend</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>Account</key>
<value>$.Account</value>
                            </entry>
                            <entry>
<key>Age</key>
<value>$.Age</value>
                            </entry>
                            <entry>
<key>AvgMonthlySpending</key>
<value>$.AvgMonthlySpending</value>
                            </entry>
                            <entry>
<key>BalanceAmount</key>
<value>$.BalanceAmount</value>
                            </entry>
                            <entry>
<key>CreditLimit</key>
<value>$.CreditLimit</value>
                            </entry>
                            <entry>
<key>CreditScore</key>
<value>$.CreditScore</value>
                            </entry>
                            <entry>
<key>CrmSegment</key>
<value>$.CrmSegment</value>
                            </entry>
                            <entry>
<key>FamilyMembers</key>
<value>$.FamilyMembers</value>
                            </entry>
                            <entry>
<key>Gender</key>
<value>$.Gender</value>
                            </entry>
                            <entry>
<key>IncomeCategory</key>
<value>$.IncomeCategory</value>
                            </entry>
                            <entry>
<key>lat</key>
<value>$.lat</value>
                            </entry>
                            <entry>
<key>long</key>
<value>$.long</value>
                            </entry>
                            <entry>
<key>name</key>
<value>$.name</value>
                            </entry>
                            <entry>
<key>Name</key>
<value>$.Name</value>
                            </entry>
                            <entry>
<key>NrOfCredCards</key>
<value>$.NrOfCredCards</value>
                            </entry>
                            <entry>
<key>NrOfDebCards</key>
<value>$.NrOfDebCards</value>
                            </entry>
                            <entry>
<key>PreviousDaySpending</key>
<value>$.PreviousDaySpending</value>
                            </entry>
                            <entry>
<key>ShortTermCredit</key>
<value>$.ShortTermCredit</value>
                            </entry>
                            <entry>
<key>Tel</key>
<value>$.Tel</value>
                            </entry>
                            <entry>
<key>TransactionTrend</key>
<value>$.TransactionTrend</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Set QueryResult to Attributes</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>1efa4941-f002-31a9-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <position>
                        <x>2163.9818685180558</x>
                        <y>809.6417242461048</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>transactionId</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>62554694-a8fb-3d8e-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <position>
                        <x>1591.652966694779</x>
                        <y>815.3280362842092</y>
                    </position>
                    <bundle>
                        <artifact>nifi-avro-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JSON container options</key>
<value>
    <name>JSON container options</name>
</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>
    <name>Wrap Single Record</name>
</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
<value>
    <name>Avro schema</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JSON container options</key>
<value>none</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>ConvertAvroToJSON</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
                </processors>
                <processors>
                    <id>66352e05-662b-3b93-0000-000000000000</id>
                    <parentGroupId>b258a6ff-5db7-3acf-0000-000000000000</parentGroupId>
                    <position>
                        <x>1597.4322486439482</x>
                        <y>592.4318441271736</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>0b771ecd-8ca2-3618-0000-000000000000</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>select 
  customer.Account, customer.Age, customer.Gender,
  customer.Name, customer.Tel,
  customer.BalanceAmount, customer.CrmSegment,
  customer.ShortTermCredit, customer.FamilyMembers,
  customer.TransactionTrend, customer.IncomeCategory,
  customer.NrOfDebCards, customer.NrOfCredCards,
  customer.CreditScore, customer.AvgMonthlySpending,
  customer.CreditLimit, customer.PreviousDaySpending,
  merchant.name, merchant.lat, merchant.long
from bank_card 
left join customer 
 on ( customer.Account  = bank_card.Account )
join merchant
where bank_card.Card = '${accountNumber}'
  and merchant.id = ${merchantId};
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>ExecuteSQL</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
            </contents>
            <name>Enrich BankCard Transactions</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>bd56341e-a975-34e7-0000-000000000000</id>
            <parentGroupId>225026b9-7e78-35c2-0000-000000000000</parentGroupId>
            <position>
                <x>95.24192421122916</x>
                <y>122.19058803724738</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>a9a9b92b-bb33-3d42-0000-000000000000</id>
                    <parentGroupId>bd56341e-a975-34e7-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>bd56341e-a975-34e7-0000-000000000000</groupId>
                        <id>800432ef-1521-3049-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>bd56341e-a975-34e7-0000-000000000000</groupId>
                        <id>ecb11784-6676-3374-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3bb86f75-0602-318e-0000-000000000000</id>
                    <parentGroupId>bd56341e-a975-34e7-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>bd56341e-a975-34e7-0000-000000000000</groupId>
                        <id>00312a2b-a462-39fc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>bd56341e-a975-34e7-0000-000000000000</groupId>
                        <id>85f6bf88-307b-32e7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>620e9220-8cd5-3fd1-0000-000000000000</id>
                    <parentGroupId>bd56341e-a975-34e7-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>bd56341e-a975-34e7-0000-000000000000</groupId>
                        <id>ad1f48f6-c95e-3a4a-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>bd56341e-a975-34e7-0000-000000000000</groupId>
                        <id>00312a2b-a462-39fc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>728715a6-f5b8-31b2-0000-000000000000</id>
                    <parentGroupId>bd56341e-a975-34e7-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>bd56341e-a975-34e7-0000-000000000000</groupId>
                        <id>85f6bf88-307b-32e7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>bd56341e-a975-34e7-0000-000000000000</groupId>
                        <id>800432ef-1521-3049-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <outputPorts>
                    <id>ad1f48f6-c95e-3a4a-0000-000000000000</id>
                    <parentGroupId>bd56341e-a975-34e7-0000-000000000000</parentGroupId>
                    <position>
                        <x>1149.2736594842418</x>
                        <y>575.4947041729017</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>SimulatedBankCardTransactions</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>800432ef-1521-3049-0000-000000000000</id>
                    <parentGroupId>bd56341e-a975-34e7-0000-000000000000</parentGroupId>
                    <position>
                        <x>1065.060727484658</x>
                        <y>142.97235351931158</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>SplitText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
                <processors>
                    <id>85f6bf88-307b-32e7-0000-000000000000</id>
                    <parentGroupId>bd56341e-a975-34e7-0000-000000000000</parentGroupId>
                    <position>
                        <x>504.7148600820956</x>
                        <y>367.4841474378086</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments>Arra j, hogy ne egybe dobja t a fjlt, hanem szpen darabokban.</comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Rate Control Criteria</key>
<value>
    <name>Rate Control Criteria</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Rate</key>
<value>
    <name>Maximum Rate</name>
</value>
                            </entry>
                            <entry>
<key>Rate Controlled Attribute</key>
<value>
    <name>Rate Controlled Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Time Duration</key>
<value>
    <name>Time Duration</name>
</value>
                            </entry>
                            <entry>
<key>Grouping Attribute</key>
<value>
    <name>Grouping Attribute</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Rate Control Criteria</key>
<value>flowfile count</value>
                            </entry>
                            <entry>
<key>Maximum Rate</key>
<value>12</value>
                            </entry>
                            <entry>
<key>Rate Controlled Attribute</key>
                            </entry>
                            <entry>
<key>Time Duration</key>
<value>10 sec</value>
                            </entry>
                            <entry>
<key>Grouping Attribute</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>20 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>ControlRate</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ControlRate</type>
                </processors>
                <processors>
                    <id>ecb11784-6676-3374-0000-000000000000</id>
                    <parentGroupId>bd56341e-a975-34e7-0000-000000000000</parentGroupId>
                    <position>
                        <x>501.53582514090795</x>
                        <y>147.98546081911627</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Input Directory</key>
<value>
    <name>Input Directory</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
<value>
    <name>Path Filter</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>
    <name>Keep Source File</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>
    <name>Polling Interval</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>
    <name>Ignore Hidden Files</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Input Directory</key>
<value>/var/local/rtdm/nifi/data</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>transactions.csv</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>1 sec</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>GetFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetFile</type>
                </processors>
                <processors>
                    <id>00312a2b-a462-39fc-0000-000000000000</id>
                    <parentGroupId>bd56341e-a975-34e7-0000-000000000000</parentGroupId>
                    <position>
                        <x>1068.3812255859375</x>
                        <y>360.5802001953125</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments>Ha nem nevezzk t a fjlt, akkor az sszed darabot ugyanazon a nven menten.</comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>
    <name>schema.name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>filename</key>
<value>transactions-${uuid}.csv</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>transaction</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>SetFileName and Schema</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <name>Simulate Bank Card Transactions</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>bec02709-5176-3f57-0000-000000000000</id>
            <parentGroupId>225026b9-7e78-35c2-0000-000000000000</parentGroupId>
            <position>
                <x>81.71679535459498</x>
                <y>417.75028931257157</y>
            </position>
            <comments>Rule based recommendations</comments>
            <contents>
                <connections>
                    <id>d26c7160-52cc-34b2-0000-000000000000</id>
                    <parentGroupId>bec02709-5176-3f57-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>bec02709-5176-3f57-0000-000000000000</groupId>
                        <id>13869a0a-e8ca-3090-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <source>
                        <groupId>bec02709-5176-3f57-0000-000000000000</groupId>
                        <id>39680636-3cd3-3454-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e24d15e8-acdf-3f38-0000-000000000000</id>
                    <parentGroupId>bec02709-5176-3f57-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>bec02709-5176-3f57-0000-000000000000</groupId>
                        <id>19fd586d-6097-3a70-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>sendTravelInsurance</selectedRelationships>
                    <source>
                        <groupId>bec02709-5176-3f57-0000-000000000000</groupId>
                        <id>ea088bdb-b019-3e96-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2aaa8f45-d06a-3dc9-0000-000000000000</id>
                    <parentGroupId>bec02709-5176-3f57-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>bec02709-5176-3f57-0000-000000000000</groupId>
                        <id>ea088bdb-b019-3e96-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>bec02709-5176-3f57-0000-000000000000</groupId>
                        <id>13869a0a-e8ca-3090-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>43c0eab0-53ef-3496-0000-000000000000</id>
                    <parentGroupId>bec02709-5176-3f57-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>bec02709-5176-3f57-0000-000000000000</groupId>
                        <id>35c17e9f-9e74-341f-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>bec02709-5176-3f57-0000-000000000000</groupId>
                        <id>19fd586d-6097-3a70-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5b4e1f8c-6f15-3106-0000-000000000000</id>
                    <parentGroupId>bec02709-5176-3f57-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>bec02709-5176-3f57-0000-000000000000</groupId>
                        <id>84388f55-e06b-30a5-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>bec02709-5176-3f57-0000-000000000000</groupId>
                        <id>ea088bdb-b019-3e96-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>39680636-3cd3-3454-0000-000000000000</id>
                    <parentGroupId>bec02709-5176-3f57-0000-000000000000</parentGroupId>
                    <position>
                        <x>-381.78505633607074</x>
                        <y>258.9001607158705</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>EnrichedTransaction</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <outputPorts>
                    <id>84388f55-e06b-30a5-0000-000000000000</id>
                    <parentGroupId>bec02709-5176-3f57-0000-000000000000</parentGroupId>
                    <position>
                        <x>170.91391892274783</x>
                        <y>646.2521744550085</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>EnrichedWoInsurance</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <outputPorts>
                    <id>35c17e9f-9e74-341f-0000-000000000000</id>
                    <parentGroupId>bec02709-5176-3f57-0000-000000000000</parentGroupId>
                    <position>
                        <x>-389.5752501769158</x>
                        <y>1100.3569060675954</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>RecommendationToSend</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>ea088bdb-b019-3e96-0000-000000000000</id>
                    <parentGroupId>bec02709-5176-3f57-0000-000000000000</parentGroupId>
                    <position>
                        <x>-436.3921730352895</x>
                        <y>613.0420979717298</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>sendTravelInsurance</key>
<value>
    <name>sendTravelInsurance</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>sendTravelInsurance</key>
<value>${sendTravelInsurance:equals(true)}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>sendTravelInsurance</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>13869a0a-e8ca-3090-0000-000000000000</id>
                    <parentGroupId>bec02709-5176-3f57-0000-000000000000</parentGroupId>
                    <position>
                        <x>-437.3921730352895</x>
                        <y>399.0420979717299</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>sendTravelInsurance</key>
<value>
    <name>sendTravelInsurance</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>sendTravelInsurance</key>
<value>${merchantType:equals("utazs"):and(
  ${amount:gt(150000)})
}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>CheckInsuranceRules</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>19fd586d-6097-3a70-0000-000000000000</id>
                    <parentGroupId>bec02709-5176-3f57-0000-000000000000</parentGroupId>
                    <position>
                        <x>-438.0860810772522</x>
                        <y>850.2521744550085</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>emailBody</key>
<value>
    <name>emailBody</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>emailBody</key>
<value>${Name:prepend("Kedves "):append(
   "!\n Kssn Utasbiztostst! \n Krtovics Amarilla")
}</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>email-insurance-${uuid}.json</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Set Travel Insurance Recommendation</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <name>RecommendationRuleEvaluation</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>44589baf-5dbf-3a22-0000-000000000000</id>
            <parentGroupId>225026b9-7e78-35c2-0000-000000000000</parentGroupId>
            <position>
                <x>736.3147310001839</x>
                <y>416.66900877143496</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>944d7131-fd8e-35a1-0000-000000000000</id>
                    <parentGroupId>44589baf-5dbf-3a22-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>44589baf-5dbf-3a22-0000-000000000000</groupId>
                        <id>5173d095-3dcc-3cc5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>feature_1_Fires</selectedRelationships>
                    <source>
                        <groupId>44589baf-5dbf-3a22-0000-000000000000</groupId>
                        <id>92b8844c-9a6c-316b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a38a4e5d-449b-374d-0000-000000000000</id>
                    <parentGroupId>44589baf-5dbf-3a22-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>44589baf-5dbf-3a22-0000-000000000000</groupId>
                        <id>1ab47e5c-8103-3eca-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>nonzero status</selectedRelationships>
                    <source>
                        <groupId>44589baf-5dbf-3a22-0000-000000000000</groupId>
                        <id>aa17b037-485c-3875-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d72ab03e-7f43-3ae5-0000-000000000000</id>
                    <parentGroupId>44589baf-5dbf-3a22-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>44589baf-5dbf-3a22-0000-000000000000</groupId>
                        <id>7b9c94c7-5c03-3dd4-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>44589baf-5dbf-3a22-0000-000000000000</groupId>
                        <id>5173d095-3dcc-3cc5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>08bb1f2f-f7bf-3f46-0000-000000000000</id>
                    <parentGroupId>44589baf-5dbf-3a22-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>44589baf-5dbf-3a22-0000-000000000000</groupId>
                        <id>aa17b037-485c-3875-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <source>
                        <groupId>44589baf-5dbf-3a22-0000-000000000000</groupId>
                        <id>1e8d2edb-3c09-3494-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>341a1a59-0804-35ef-0000-000000000000</id>
                    <parentGroupId>44589baf-5dbf-3a22-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>44589baf-5dbf-3a22-0000-000000000000</groupId>
                        <id>92b8844c-9a6c-316b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>original</selectedRelationships>
                    <source>
                        <groupId>44589baf-5dbf-3a22-0000-000000000000</groupId>
                        <id>aa17b037-485c-3875-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>427f1920-262e-33cb-0000-000000000000</id>
                    <parentGroupId>44589baf-5dbf-3a22-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>44589baf-5dbf-3a22-0000-000000000000</groupId>
                        <id>07d741a9-1c90-30a6-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>44589baf-5dbf-3a22-0000-000000000000</groupId>
                        <id>92b8844c-9a6c-316b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>1e8d2edb-3c09-3494-0000-000000000000</id>
                    <parentGroupId>44589baf-5dbf-3a22-0000-000000000000</parentGroupId>
                    <position>
                        <x>591.7417886782209</x>
                        <y>165.56680297851562</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>EnrichedRecord</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <outputPorts>
                    <id>07d741a9-1c90-30a6-0000-000000000000</id>
                    <parentGroupId>44589baf-5dbf-3a22-0000-000000000000</parentGroupId>
                    <position>
                        <x>1147.7441778709594</x>
                        <y>540.392111065417</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>EnrichedTransactionFeatures</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <outputPorts>
                    <id>7b9c94c7-5c03-3dd4-0000-000000000000</id>
                    <parentGroupId>44589baf-5dbf-3a22-0000-000000000000</parentGroupId>
                    <position>
                        <x>1139.767732615796</x>
                        <y>744.030995892869</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>RecommendationToSend</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>92b8844c-9a6c-316b-0000-000000000000</id>
                    <parentGroupId>44589baf-5dbf-3a22-0000-000000000000</parentGroupId>
                    <position>
                        <x>551.9519415428343</x>
                        <y>503.51326585057325</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>feature_1_Fires</key>
<value>
    <name>feature_1_Fires</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>feature_1_Fires</key>
<value>${feature_1:gt(0)}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Decide to send recommendation</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>feature_1_Fires</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>aa17b037-485c-3875-0000-000000000000</id>
                    <parentGroupId>44589baf-5dbf-3a22-0000-000000000000</parentGroupId>
                    <position>
                        <x>543.4266031313459</x>
                        <y>289.3590087890625</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Command Arguments</key>
<value>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Command Arguments</key>
<value></value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>/var/local/rtdm/nifi/model/ex_str_proc_demo.py</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>/var/local/rtdm/nifi/model/</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>;</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>feature_1</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>256</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Evaluate ML model</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
                <processors>
                    <id>1ab47e5c-8103-3eca-0000-000000000000</id>
                    <parentGroupId>44589baf-5dbf-3a22-0000-000000000000</parentGroupId>
                    <position>
                        <x>1155.8720216522727</x>
                        <y>300.2607137781852</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>ML</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>ExecuteStreamProcessor error</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>5173d095-3dcc-3cc5-0000-000000000000</id>
                    <parentGroupId>44589baf-5dbf-3a22-0000-000000000000</parentGroupId>
                    <position>
                        <x>535.0661349257723</x>
                        <y>720.2917762832246</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>emailBody</key>
<value>
    <name>emailBody</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>emailBody</key>
<value>${Name:prepend("Kedves "):append(
   "!\n Emelje meg hitelkerett! \n Krtovics Amarilla")
}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Set Recommendation Attributes</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <name>Recommend Based on ML prediction</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>64267d6b-82bf-3091-0000-000000000000</id>
            <parentGroupId>225026b9-7e78-35c2-0000-000000000000</parentGroupId>
            <position>
                <x>81.0</x>
                <y>728.2006123785605</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>d3e49a8f-9b6a-3876-0000-000000000000</id>
                    <parentGroupId>64267d6b-82bf-3091-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64267d6b-82bf-3091-0000-000000000000</groupId>
                        <id>30fafb0e-ffed-30af-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>64267d6b-82bf-3091-0000-000000000000</groupId>
                        <id>258d1b1b-76c2-3677-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>edcb5395-4086-3334-0000-000000000000</id>
                    <parentGroupId>64267d6b-82bf-3091-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64267d6b-82bf-3091-0000-000000000000</groupId>
                        <id>4a65aebe-1ca4-339a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>64267d6b-82bf-3091-0000-000000000000</groupId>
                        <id>07459ffd-5d47-3f16-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>071f55af-0b9a-3388-0000-000000000000</id>
                    <parentGroupId>64267d6b-82bf-3091-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64267d6b-82bf-3091-0000-000000000000</groupId>
                        <id>258d1b1b-76c2-3677-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <source>
                        <groupId>64267d6b-82bf-3091-0000-000000000000</groupId>
                        <id>67602c66-a4b4-3463-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1ffadf8e-8667-3b84-0000-000000000000</id>
                    <parentGroupId>64267d6b-82bf-3091-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64267d6b-82bf-3091-0000-000000000000</groupId>
                        <id>07459ffd-5d47-3f16-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <source>
                        <groupId>64267d6b-82bf-3091-0000-000000000000</groupId>
                        <id>67602c66-a4b4-3463-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>629f5e15-06de-374c-0000-000000000000</id>
                    <parentGroupId>64267d6b-82bf-3091-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64267d6b-82bf-3091-0000-000000000000</groupId>
                        <id>34011664-0619-382d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>64267d6b-82bf-3091-0000-000000000000</groupId>
                        <id>4a65aebe-1ca4-339a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6bdd2600-6a04-3883-0000-000000000000</id>
                    <parentGroupId>64267d6b-82bf-3091-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64267d6b-82bf-3091-0000-000000000000</groupId>
                        <id>f1347043-2ea3-3674-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>64267d6b-82bf-3091-0000-000000000000</groupId>
                        <id>258d1b1b-76c2-3677-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>67602c66-a4b4-3463-0000-000000000000</id>
                    <parentGroupId>64267d6b-82bf-3091-0000-000000000000</parentGroupId>
                    <position>
                        <x>-355.5993942315481</x>
                        <y>903.2114156012167</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>RecommendationToSend</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <processors>
                    <id>f1347043-2ea3-3674-0000-000000000000</id>
                    <parentGroupId>64267d6b-82bf-3091-0000-000000000000</parentGroupId>
                    <position>
                        <x>-521.8459898778358</x>
                        <y>1387.2925752763008</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Mail Fail</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>07459ffd-5d47-3f16-0000-000000000000</id>
                    <parentGroupId>64267d6b-82bf-3091-0000-000000000000</parentGroupId>
                    <position>
                        <x>220.05394759703677</x>
                        <y>907.6207093357928</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>filename</key>
<value>email-to-send-${UUID()}.json</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Set EMail filename</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>258d1b1b-76c2-3677-0000-000000000000</id>
                    <parentGroupId>64267d6b-82bf-3091-0000-000000000000</parentGroupId>
                    <position>
                        <x>-411.8459898778358</x>
                        <y>1118.2925752763008</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>SMTP Hostname</key>
<value>
    <name>SMTP Hostname</name>
</value>
                            </entry>
                            <entry>
<key>SMTP Port</key>
<value>
    <name>SMTP Port</name>
</value>
                            </entry>
                            <entry>
<key>SMTP Username</key>
<value>
    <name>SMTP Username</name>
</value>
                            </entry>
                            <entry>
<key>SMTP Password</key>
<value>
    <name>SMTP Password</name>
</value>
                            </entry>
                            <entry>
<key>SMTP Auth</key>
<value>
    <name>SMTP Auth</name>
</value>
                            </entry>
                            <entry>
<key>SMTP TLS</key>
<value>
    <name>SMTP TLS</name>
</value>
                            </entry>
                            <entry>
<key>SMTP Socket Factory</key>
<value>
    <name>SMTP Socket Factory</name>
</value>
                            </entry>
                            <entry>
<key>SMTP X-Mailer Header</key>
<value>
    <name>SMTP X-Mailer Header</name>
</value>
                            </entry>
                            <entry>
<key>Content Type</key>
<value>
    <name>Content Type</name>
</value>
                            </entry>
                            <entry>
<key>From</key>
<value>
    <name>From</name>
</value>
                            </entry>
                            <entry>
<key>To</key>
<value>
    <name>To</name>
</value>
                            </entry>
                            <entry>
<key>CC</key>
<value>
    <name>CC</name>
</value>
                            </entry>
                            <entry>
<key>BCC</key>
<value>
    <name>BCC</name>
</value>
                            </entry>
                            <entry>
<key>Subject</key>
<value>
    <name>Subject</name>
</value>
                            </entry>
                            <entry>
<key>Message</key>
<value>
    <name>Message</name>
</value>
                            </entry>
                            <entry>
<key>Attach File</key>
<value>
    <name>Attach File</name>
</value>
                            </entry>
                            <entry>
<key>Include All Attributes In Message</key>
<value>
    <name>Include All Attributes In Message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>SMTP Hostname</key>
<value>smtp.gmail.com</value>
                            </entry>
                            <entry>
<key>SMTP Port</key>
<value>465</value>
                            </entry>
                            <entry>
<key>SMTP Username</key>
<value>herendi4096vaza@gmail.com</value>
                            </entry>
                            <entry>
<key>SMTP Password</key>
                            </entry>
                            <entry>
<key>SMTP Auth</key>
<value>true</value>
                            </entry>
                            <entry>
<key>SMTP TLS</key>
<value>true</value>
                            </entry>
                            <entry>
<key>SMTP Socket Factory</key>
<value>javax.net.ssl.SSLSocketFactory</value>
                            </entry>
                            <entry>
<key>SMTP X-Mailer Header</key>
<value>NiFi</value>
                            </entry>
                            <entry>
<key>Content Type</key>
<value>text/plain</value>
                            </entry>
                            <entry>
<key>From</key>
<value>herendi4096vaza@gmail.com</value>
                            </entry>
                            <entry>
<key>To</key>
<value>agrav.feszoj@gmail.com</value>
                            </entry>
                            <entry>
<key>CC</key>
                            </entry>
                            <entry>
<key>BCC</key>
                            </entry>
                            <entry>
<key>Subject</key>
<value>NiFi zenet</value>
                            </entry>
                            <entry>
<key>Message</key>
<value>${emailBody}</value>
                            </entry>
                            <entry>
<key>Attach File</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Include All Attributes In Message</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>PutEmail</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutEmail</type>
                </processors>
                <processors>
                    <id>30fafb0e-ffed-30af-0000-000000000000</id>
                    <parentGroupId>64267d6b-82bf-3091-0000-000000000000</parentGroupId>
                    <position>
                        <x>-139.8459898778358</x>
                        <y>1389.2925752763008</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Mail Ok.</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>34011664-0619-382d-0000-000000000000</id>
                    <parentGroupId>64267d6b-82bf-3091-0000-000000000000</parentGroupId>
                    <position>
                        <x>235.30682148055018</x>
                        <y>1396.8237846862185</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value>/var/local/rtdm/nifi/output</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>fail</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>PutFile</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>4a65aebe-1ca4-339a-0000-000000000000</id>
                    <parentGroupId>64267d6b-82bf-3091-0000-000000000000</parentGroupId>
                    <position>
                        <x>224.05394759703677</x>
                        <y>1149.6207093357928</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Attributes List</key>
<value>
    <name>Attributes List</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
<value>
    <name>attributes-to-json-regex</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>
    <name>Include Core Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>
    <name>Null Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Attributes List</key>
<value>emailBody</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>PrepareEmail JSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                </processors>
            </contents>
            <name>SendRecommendation</name>
            <variables/>
        </processGroups>
        <processors>
            <id>aa63c30d-a357-3079-0000-000000000000</id>
            <parentGroupId>225026b9-7e78-35c2-0000-000000000000</parentGroupId>
            <position>
                <x>758.1329048110533</x>
                <y>723.5429534626734</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0.3.1.0.0-564</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Directory</key>
                        <value>/var/local/rtdm/nifi/output</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>replace</value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>PutFile</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
    </snippet>
    <timestamp>05/06/2018 14:02:09 UTC</timestamp>
</template>
